.Battle {
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
background-image: url(/images/maps/goblincave.png);
background-size: cover;
image-rendering: pixelated;
}
/* Animation*/
@keyframes battle-damage-blink {
    to {
        visibility: hidden;
    }
}
.battle-damage-blink {
    animation: battle-damage-blink 0.3s steps(2, start) infinite;
}
@keyframes attack-right {
    0% {transform:  translate3d(0,0,0) rotate(0deg) scale(.5);}
    25% {transform:  translate3d(50%, 0, 0) rotate(0deg) scale(.5);}
    100% {transform:  translate3d(0,0,0) rotate(0deg) scale(.5);}
}
.attack-right {
    animation: attack-right 0.8s;
}
@keyframes attack-left {
    0% {transform:  translate3d(0,0,0) rotate(0deg) scale(.5);}
    25% {transform:  translate3d(-50%, 0, 0) rotate(0deg) scale(.5);}
    100% {transform:  translate3d(0,0,0) rotate(0deg) scale(.5);}
}
.attack-left {
    animation: attack-left 0.8s;
}
.orb {
    position: absolute;
    width: 32px;
    height: 32px;
    
}
@keyframes orb-right {
    0% {transform: translate3d(0,0,0) scale(.5); opacity: 1;}
    25% {transform: translate3d(10px,0,1) scale(1); opacity: 1;}
    50% {transform: translate3d(149px, 0px ,0) scale(1); opacity: 1;}
    100% {transform: translate3d(149px, 0px ,0) scale(3); opacity: 0;}
}
.orb-right {
    left: 100px;
    top: 70px;
    animation: orb-right 1s forwards;
}

@keyframes orb-left {
    0% {transform: translate3d(0,0,0) scale(.5); opacity: 1;}
    25% {transform: translate3d(-10px,0,1) scale(1); opacity: 1;}
    50% {transform: translate3d(-174px, 0px ,0) scale(1); opacity: 1;}
    100% {transform: translate3d(-174px,0px ,0) scale(3); opacity: 0;}
}
.orb-left {
    left: 227px;
    top: 60px;
    animation: orb-left 1s forwards;
}
@keyframes self-orb-blink {
    to {
        visibility: hidden;
    }
} 
.self-orb-blink-right {
    right: 67px;
    top: 62px;
    animation: self-orb-blink 0.2s steps(2, start) 2;
}

/* .Battle_hero, .Battle_hero2 {
    position: absolute;
    transform: scale(.5);
    width: 64px;
    height: 80px;
    overflow: hidden;
}
.Battle_enemy {
    position: absolute;
    transform: scale(.5);
    width: 96px;
    height: 96px;
    overflow: hidden;
}
.Battle_hero img, .Battle_enemy img {
    pointer-events: none;
}
.Battle_hero {
bottom: 100px;
left: 200px;
}
/* .Battle_hero2 {
    bottom: 70px;
    left: 210px;
} */
/* .Battle_enemy {
    bottom: 80px;
    left: 20px;
} */ 
